.idea/

finetune_src/image_features/
finetune_src/r2r_data/
finetune_src/snap/
pretrain_src/data/
pretrain_src/snap/
pretrain_src/utils/__pycache__/
test_dataset.py
pretrain_src/model/__pycache__/
pretrain_src/run/__pycache__/
*.pyc
finetune_src/features.zip
*.tsv
*.zip
connectivity/
test_model.py
test_teacher_action.py
test_optim.py
Recurrent-VLN-BERT-main/
*.pyc
finetune_src/r2r_src/__pycache__/param.cpython-39.pyc
finetune_src/r2r_src/vln_lxmert/__pycache__/vil_lxmert.cpython-39.pyc
finetune_src/r2r_src/vln_lxmert/__pycache__/vln_lxmert_init.cpython-39.pyc
*.pyc
