.idea/

finetune_src/image_features/
finetune_src/r2r_data/
finetune_src/snap/
pretrain_src/data/
pretrain_src/snap/
pretrain_src/utils/__pycache__/
test_dataset.py
pretrain_src/model/__pycache__/
pretrain_src/run/__pycache__/
*.pyc
finetune_src/features.zip
*.tsv
*.zip
connectivity/
test_model.py
test_teacher_action.py
test_optim.py
